* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.template,
.hidden,
.mobile-only,
.mobile-nav {
  display: none;
}

.no-desktop {
  display: none;
}

a,
li,
ul {
  list-style: none;
  text-decoration: none;
}

body {
  background: #ffffff;
  font-family: Avenir, Verdana, Arial;
  font-style: normal;
  max-width: 1400px;
  margin: 0 auto;
}

/* ==================================== Sorting ======================================== */
div.inputs {
  position: relative;
  margin: 0 57px 0 57px;
  margin-bottom: 3em;
}

input[type="text"] {
  width: 50vw;
  height: 7vh;
  padding: 10px 10px 10px 34px;
  margin: 8px 10px 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #f2f2f2;
  background-color: #ffffff;
  background-image: url(images/Search.png);
  background-position-x: 1vw;
  background-position-y: 1vh;
  background-repeat: no-repeat;
  font-size: 1.1em;
}

input[type="text"]:focus {
  outline: none;
}

select {
  box-sizing: border-box;
  position: absolute;
  right: 1px;
  width: 34vw;
  height: 7vh;
  padding: 8px;
  margin: 8px 0px 0px 0px;
  font-size: 1.1em;
  line-height: 1.5;
  border: none;
  border-bottom: 2px solid #f2f2f2;
  background: url(images/Arrow.png) no-repeat right #ffffff;
  -webkit-appearance: none;
  background-position-x: 30vw;
}

/* =================================== Main Page =================================== */
.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  position: relative;
  margin: 0 57px 0 57px;
  overflow: hidden;
}

.carousel-text {
  position: absolute;
  top: 20%;
  left: 7%;
  color: #ffffff;
}

.carousel-text > h1 {
  font-size: 2.7em;
}

.carousel-text > p {
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  margin: 0.4em 0;
}

.carousel > div > img {
  max-width: 100%;
  filter: brightness(80%);
}

.carousel-button {
  position: absolute;
  top: 45%;
}

.carousel-button.slide-previous {
  left: 5%;
}

.carousel-button.slide-next {
  right: 5%;
}

.slide-hidden {
  position: absolute;
  transform: translateX(100%);
  /* display: none; */
}

.slide-disappear {
  position: absolute;
  transform: translateX(-100%);
  transition: 1s;
}

.slide-visible {
  transition: 1s;
  transform: translateX(0);
}

/* ============================= Product Listing Page =============================== */
section {
  display: grid;
  grid-template-columns: 25% auto;
  margin: 3em 2.5em 2em 3.6em;
}
/* =================== PLP products ================== */
.products {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2em;
}

.product {
  position: relative;
  /* max-width: 250px; */
  /* min-width: 150px; */
  padding-bottom: 2em;
}

.product-image {
  width: 100%;
  margin-bottom: -2em;
}

.product-name {
  background-color: white;
  width: 70%;
  padding-top: 1.5em;
  font-size: 1.1em;
  font-weight: 800;
}

.product-info {
  position: relative;
}

.product-extra-info {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.product-extra-info > p {
  padding-top: 1em;
}

.product-add-to-cart {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  padding-top: 1em;
}

/* ================= PLP sidebar ================ */
aside {
  max-width: 300px;
  padding-right: 2vw;
  margin-right: 1em;
}
/* for product-type and filter text */
.gray-text {
  color: gray;
  text-transform: uppercase;
  font-size: 0.75em;
}

input[type="checkbox"] {
  margin: 1em 0;
}

.category-filter,
.price-filter,
.collection-filter,
.color-filter {
  position: relative;
  margin-top: 1.5em;
}

.filter-arrow-btn {
  position: absolute;
  right: 0.5em;
  top: 0em;
  padding: 0.5em 0.7em 0 15em;
}

.line {
  border-bottom: 2px solid #f2f2f2;
  margin-top: 1em;
}

.options {
  margin-top: 1em;
}

.collapsed {
  display: none;
  /* add animation */
}

/* ====================== Price-Slider ===================== */
.slider-container {
  position: relative;
}

.slider-container span {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 3em;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 1.5em 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 15px;
  height: 1.5em;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: rgba(128, 128, 128, 0.47);
}

input[type="range"]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 1.3em;
  width: 1.3em;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
  pointer-events: all;
  position: relative;
  z-index: 1;
}

.slider-max-text {
  right: 0;
}

/* =============== PLP pagination =============== */
ul.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
  margin: 2em 0;
}

.page {
  margin-right: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-active {
  background-color: #00c98d;
  color: white;
  width: 42px;
  height: 42px;
}

/* ============================ Product Details Page ================================ */

.pdp-wrapper {
  display: flex;
  justify-content: center;
  margin: 6em 3em 0 3em;
}

.pdp-images-container {
  min-width: 60%;
  overflow: hidden;
}

.pdp-carousel {
  position: relative;
  overflow: hidden;
}

.pdp-carousel > img {
  width: 100%;
}

.pdp-small-images {
  margin-top: 3em;
}
.pdp-small-images > img {
  padding-right: 1em;
}

.pdp-arrow {
  margin-bottom: 0.3em;
  padding: 0.2em;
}

.pdp-product-description {
  margin: 0 1em;
  width: 25vw;
  /* min-width: 200px; */
}

.pdp-smaller-text {
  font-size: 0.7em;
  font-weight: 300;
  margin: 1em 0;
  padding-right: 3em;
}

.pdp-product-price {
  margin-top: 1.3em;
}

.pdp-dispatch-info {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 300;
  margin: 0.5em 0;
}

.pdp-red-text {
  color: red;
}

.pdp-colors {
  margin: 2em 0;
}

.color {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 0.3em;
}

.color1 {
  background-color: #c4c4c4;
  border: 1px solid #070707;
}

.color2 {
  background-color: #1b1b1b;
}

.color3 {
  background-color: #818347;
}

.color4 {
  background-color: #1e0760;
}

.pdp-add-to-cart-button {
  width: 264px;
  height: 47px;
  margin-top: 0.5em;
  border: 1px solid #131313;
  background-color: #131313;
  color: white;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pdp-add-to-cart-button:focus,
.pdp-details-button:focus {
  outline: none;
}

.green-button {
  width: 264px;
  height: 47px;
  margin-top: 0.5em;
  border: 1px solid #00c98c;
  background-color: #00c98c;
  color: white;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pdp-details-button {
  width: 264px;
  height: 35px;
  margin: 1.2em 0;
  border: 1px solid #131313;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-image: url(./images/pdp-arrow.png);
  background-position-x: 18.5vw;
  background-position-y: 1.5vh;
  background-repeat: no-repeat;
}

/* ============================ Header-Footer for all pages ================================ */
header a:any-link {
  color: black;
}

header {
  margin: 2em 2.5em 2em 3.6em;
}

header,
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  color: #22232b;
}

.header-left li,
.footer-nav li {
  margin-right: 1.5em;
}

.header-right li,
.footer-icons li {
  margin-left: 1.5em;
}

.header-left li,
.header-right li,
.footer-nav li,
.footer-icons li {
  display: inline-block;
}

.cart-image {
  position: relative;
}

#cartQuantity {
  position: absolute;
  bottom: 1.8em;
  left: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.7em;
  width: 1.7em;
  border-radius: 50%;
  background: #00c98d;
  color: white;
  font-size: 0.8em;
}

#login {
  font-size: 0.9em;
  text-transform: uppercase;
}
.magazine {
  color: gray;
}

.hr-line {
  margin: 90px 57px 50px 57px;
  color: gray;
  border-bottom: 2px solid #f2f2f2;
}

footer {
  margin: 2em 10em 5em 10em;
  font-size: 0.9em;
}
