* {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
li,
ul {
  list-style: none;
  text-decoration: none;
}
body {
  background: #ffffff;
  font-family: Avenir, Verdana, Arial;
  font-style: normal;
  /* font-weight: 800; */
  font-size: 1.2em;
}

/* ============================= PLP =============================== */
.wrapper {
  display: flex;
  margin: 2em 2.5em 2em 3.6em;
}

.sidebar {
  /* background-color: green; */
  width: 28em;
}

.line {
  border-bottom: 2px solid #f2f2f2;
  margin-top: 1em;
}

.sidebar-filter-text,
.product-category-text {
  color: gray;
  text-transform: uppercase;
}

.sidebar p {
  margin-top: 1.5em;
}

.color-filter > input,
.category-filter,
.price-filter,
.collection-filter,
.color-filter {
  margin-top: 1em;
  position: relative;
}
.filter-arrow-btn {
  position: absolute;
  right: 1em;
  top: 0.5em;
}

.products-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.product {
  margin: 0 0 3em 2em;
  position: relative;
}

.product-name {
  position: absolute;
  width: 180px;
  height: 5em;
  left: 0;
  top: 65%;
  background-color: white;
  padding-top: 1.2em;
}

.product-price {
  position: absolute;
  right: 0;
  top: 77%;
}

.product-add-to-cart > img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.product-image img {
  width: 275px;
  height: 235px;
  margin-bottom: 5.1em;
}

/* ============================= PLP ============================== */

/* Main Page */
.carousel-container {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}
.carousel {
  position: relative;
  margin: 0 57px 0 57px;
}

.carousel-text {
  position: absolute;
  /* width: 1326px;
  height: 560px; */
  top: 20%;
  left: 7%;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.2);
}
.carousel-text > h1 {
  font-size: 2.7em;
}
.carousel-text > p {
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
}
.carousel > img {
  max-width: 100%;
  /* padding-top: 3em; */
}

div.inputs {
  position: relative;
  /* background-color: teal; */
  margin: 0 57px 0 57px;
  margin-bottom: 3em;
}

input[type="text"] {
  width: 50vw;
  height: 7vh;
  padding: 10px 10px 10px 34px;
  margin: 8px 10px 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #f2f2f2;
  background-color: #ffffff;
  background-image: url(images/Search.png);
  background-position-x: 1vw;
  background-position-y: 1vh;
  background-repeat: no-repeat;
  font-size: 1.1em;
}

select {
  box-sizing: border-box;
  position: absolute;
  right: 1px;
  width: 34vw;
  height: 7vh;
  padding: 10px;
  margin: 8px 0px 0px 0px;
  font-size: 1.1em;
  line-height: 1;
  border: none;
  border-bottom: 2px solid #f2f2f2;
  background: url(images/Arrow.png) no-repeat right #ffffff;
  -webkit-appearance: none;
  background-position-x: 30vw;
}

/* header-footer for all pages */
.list-item > a:active {
  color: green;
}

header {
  margin: 2em 2.5em 2em 3.6em;
}
header,
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  color: #22232b;
}
.header-left li,
.footer-nav li {
  margin-right: 1.5em;
}

.header-right li,
.footer-icons li {
  margin-left: 1.5em;
}

.header-left li,
.header-right li,
.footer-nav li,
.footer-icons li {
  display: inline-block;
}
#login {
  font-size: 0.9em;
  text-transform: uppercase;
}
.hr-line {
  margin: 90px 57px 50px 57px;
  color: gray;
  border-bottom: 2px solid #f2f2f2;
}
footer {
  margin: 2em 10em 5em 10em;
  font-size: 0.9em;
}
