@media only screen and (max-width: 500px) {
  #login,
  aside,
  .header-left li + li,
  .main-no-sorting-mobile,
  .hr-line,
  .pdp-small-images {
    display: none;
  }

  .no-desktop {
    display: block;
  }

  .cart-image {
    position: absolute;
    right: 30%;
  }

  .logo {
    width: 70%;
  }

  /*logo*/
  .header-left:first-child {
    position: absolute;
    right: 2%;
    top: 4.5%;
  }

  input[type="text"] {
    width: 74vw;
    height: 7vh;
    padding: 10px 10px 10px 37px;
    margin: 0 auto;
    font-size: 1em;
  }

  /* ============================== main page ============================= */
  .carousel {
    width: 150%;
    margin: 5.5em 0 3em 0;
    padding: 0;
  }

  .carousel-text > h1 {
    font-size: 1.4em;
  }
  .carousel-text > p {
    font-size: 1.3em;
  }

  /* ========================= Product Listing Page  ========================== */

  /* ============= sorting ================= */
  .plp-mobile-sorting,
  input[type="text"],
  .plp-mobile-filters {
    position: absolute;
    width: 100%;
  }

  .plp-mobile-sorting {
    top: 40%;
    background-position-x: 70vw;
    background-position-y: 2.5vh;
  }

  input[type="text"] {
    top: 10%;
  }

  div.plp-inputs-mobile {
    position: relative;
    height: 30vh;
    margin: 0 2em 0.5em 2em;
  }

  .plp-mobile-filters {
    top: 90%;
    font-size: 1.3em;
  }
  .mobile-arrow-btn {
    position: absolute;
    left: 83%;
    top: 8%;
  }

  .plp-mobile-filters p {
    margin-left: 0.5em;
  }
  /* ================= plp products ================*/
  section {
    margin: 0;
    padding: 1em;
  }

  .products {
    display: flex;
    flex-flow: column wrap;
    width: 85vw;
    justify-content: center;
    padding: 1em 0 1.5em 1.7em;
    margin: 0;
  }

  .product {
    margin: 0 1em 1em 1em;
  }

  .product-image {
    margin-bottom: -2.4em;
  }

  /* ================= pagination ==================== */

  ul.pagination {
    margin: 0 1em;
  }

  .page {
    margin-right: 5em;
  }

  .page-active {
    background-color: black;
    color: white;
    width: 2em;
    height: 2em;
    padding: 1em;
  }
  /* ================================== Product details page =================================== */

  .pdp-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .pdp-carousel {
    width: 150%;
    margin: 2em 0;
    padding: 0;
  }

  .pdp-product-description {
    margin: 0 3em;
    width: 70vw;
    text-align: left;
  }

  .pdp-smaller-text {
    margin: 2em 0;
  }

  .pdp-details-button {
    background-position-x: 95%;
    background-position-y: 45%;
  }

  .mobile-only {
    display: flex;
    position: absolute;
    top: 30%;
    left: 35%;
  }

  .mini {
    width: 0.8em;
    height: 0.8em;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 1em;
  }

  .mini1 {
    background-color: grey;
  }

  /* ==================================== Mobile navigation ==========================*/

  .mobile-nav {
    background-color: black;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 111;
  }

  .mobile-nav-hidden {
    display: none;
  }

  header {
    text-transform: none;
  }
  header .mobile-nav a:any-link {
    color: white;
  }
  .cancel-button {
    position: absolute;
    left: 90%;
    top: 6%;
    width: 25px;
  }

  .logo-mobile {
    margin: 1em;
    width: 35px;
    height: 25px;
  }

  ul {
    margin: 2em;
  }
  li.mobile-nav-item {
    padding: 1em;
    font-size: 1.3em;
  }

  /* ===================================== footer ============================================ */
  footer {
    display: flex;
    flex-direction: column-reverse;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    color: #22232b;
    margin: 1em 4em;
    /* background-color: grey; */
  }

  .footer-icons {
    display: flex;
    justify-content: center;
    margin: 3em;
  }

  .footer-nav ul {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;
    margin: 1em 0;
    font-size: 1em;
  }

  .footer-nav li {
    margin: 1em -0.5em;
  }
}
