@media only screen and (max-width: 500px) {
  #login,
  aside,
  .header-left li + li,
  .main-no-sorting-mobile,
  .hr-line {
    display: none;
  }

  .cart-image {
    position: absolute;
    right: 30%;
  }

  .logo {
    width: 70%;
  }

  /*logo*/
  .header-left:first-child {
    position: absolute;
    right: 2%;
    top: 4.5%;
  }

  input[type="text"] {
    width: 74vw;
    height: 7vh;
    padding: 10px 10px 10px 37px;
    margin: 0 auto;
    font-size: 1em;
  }

  /* ============================== main page ============================= */
  .carousel {
    margin: 5.5em 0 3em 0;
    width: 150%;
  }

  .carousel-text > h1 {
    font-size: 1.5em;
  }
  .carousel-text > p {
    font-size: 1.3em;
  }

  /* ========================= Product Listing Page  ========================== */

  /* ============= sorting ================= */
  .plp-mobile-sorting,
  input[type="text"] {
    position: absolute;
    width: 80vw;
    left: 2.5%;
  }

  .plp-mobile-sorting {
    top: 60%;
    background-position-x: 70vw;
    background-position-y: 2.5vh;
  }

  input[type="text"] {
    top: 10%;
  }

  div.plp-inputs-mobile {
    position: relative;
    height: 20vh;
    margin: 0 2em 3em 2em;
    /* background-color: lavender; */
  }

  /* ================= plp products ================*/
  section {
    margin: 0;
    padding: 1em;
  }

  .products {
    display: flex;
    flex-flow: column wrap;
    width: 85vw;
    justify-content: center;
    padding: 1.5em 0 1.5em 1.7em;
  }

  .product {
    margin: 1em 1em 1em 1em;
  }

  .product-image {
    margin-bottom: -2.4em;
  }

  /* ================= pagination ==================== */

  ul.pagination {
    margin: 0 1em;
  }

  .page {
    margin-right: 5em;
  }

  .page-active {
    background-color: black;
    color: white;
    width: 2em;
    height: 2em;
    padding: 1em;
  }

  /* =============================== footer ================================== */
  footer {
    display: flex;
    flex-direction: column-reverse;
    font-size: 0.9em;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    color: #22232b;
    margin: 1em 4em;
    /* background-color: grey; */
  }

  .footer-icons {
    display: flex;
    justify-content: center;
    margin: 3em;
  }

  .footer-nav ul {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;
    margin: 1em 0;
    font-size: 1em;
  }

  .footer-nav li {
    margin: 1em -0.5em;
  }
}
